<?php
//General settings
$ctoCurrentPartnerId 	= $this->ctoPartnerID();
$ctoIdType 				= $this->ctoProductID();
$ctoEmail 				= $this->ctoCrossDevice();
$ctoHomepageActivated	= $this->ctoTagHomepageActivated();
$ctoListingActivated	= $this->ctoTagListingActivated();
$ctoProductActivated	= $this->ctoTagProductActivated();
$ctoBasketActivated	    = $this->ctoTagBasketActivated();
$ctoSalesActivated	    = $this->ctoTagSalesActivated();

//Tag settings
$ctoIsHomePage          = $this->ctoIsHomePage();
$ctoIsCategoryPage      = $this->ctoIsCategoryPage();
$ctoIsProductPage       = $this->ctoIsProductPage();
$ctoIsBasketPage        = $this->ctoIsBasketPage();
$ctoIsCheckoutPage      = $this->ctoIsCheckoutPage();
$ctoIsConfirmationPage  = $this->ctoIsConfirmationPage();
$ctoUserId              = $this->ctoGetUserId();
$ctoTransactionId       = $this->ctoGetTransactionId();
$ctoProductSku          = $this->ctoGetProductSku();
$ctoProductId           = $this->ctoGetProductId();
$ctoProductList         = $this->ctoGetProductList();

if($ctoIdType == 0) {
	$ctoProductIdType = $ctoProductId;
	$ctoProductIdTypeName = "id";
} else {
	$ctoProductIdType = $ctoProductSku;
	$ctoProductIdTypeName = "sku";
}

$ctoLoader='<script>(function(d,s){var js=d.getElementsByTagName(s)[0];var r=d.createElement(s);r.async=true;r.src=("https:"==location.protocol?"https:":"http:")+"//static.criteo.net/js/ld/ld.js";js.parentNode.insertBefore(r,js)})(document,"script")</script>'

?>
	 
<?php if($ctoCurrentPartnerId != 0 && $ctoCurrentPartnerId != "") {?>
	<?php if ($ctoSalesActivated && $ctoIsConfirmationPage) :?>
<!-- Criteo OneTag Start (Implemented by Criteo Magento module v1.4) -->
<!-- Confirmation page tag -->
<?php echo $ctoLoader; ?>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
 { event: "setAccount", account: <?php echo $ctoCurrentPartnerId; ?> },
 <?php if ($ctoUserId != NULL && $ctoEmail == 1) :?>
 { event: "setHashedEmail", email: "<?php echo $ctoUserId; ?>" },
 <?php endif;?>
 { event: "setSiteType", type: (/iPad/.test(navigator.userAgent) ? "t" : (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile/.test(navigator.userAgent) ? "m" : "d"))},
 { event: "trackTransaction" , id: 
<?php echo json_encode($ctoTransactionId); ?>,
 item: [
 <?php $item_number = 0 ?>
 <?php while (isset($ctoProductList[$item_number])) :?>
 { id: 
<?php echo json_encode($ctoProductList[$item_number]['product'][$ctoProductIdTypeName]); ?>, 
price:
 <?php echo json_encode($ctoProductList[$item_number]['product']['unit_final_price']); ?>, 
quantity:
 <?php echo json_encode($ctoProductList[$item_number]['quantity']); ?>
 }
 <?php $item_number++ ?>
 <?php if (isset($ctoProductList[$item_number])) :?>
 ,
 <?php endif;?>
 <?php endwhile;?>
 ]});
 </script>

	 <?php elseif ($ctoHomepageActivated && $ctoIsHomePage) :?>
<!-- Criteo OneTag Start (Implemented by Criteo Magento module v1.4) -->
<!-- Home page tag -->
<?php echo $ctoLoader; ?>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
 { event: "setAccount", account: <?php echo $ctoCurrentPartnerId; ?> },
 <?php if ($ctoUserId != NULL && $ctoEmail == 1) :?>
 { event: "setHashedEmail", email: "<?php echo $ctoUserId; ?>" },
 <?php endif;?>
 { event: "setSiteType", type: (/iPad/.test(navigator.userAgent) ? "t" : (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile/.test(navigator.userAgent) ? "m" : "d"))},
 { event: "viewHome" }
);
</script>

	 <?php elseif ($ctoListingActivated && $ctoIsCategoryPage) :?>
<!-- Criteo OneTag Start (Implemented by Criteo Magento module v1.4) -->	 
<!-- Listing page tag -->
<?php echo $ctoLoader; ?>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
 { event: "setAccount", account: <?php echo $ctoCurrentPartnerId; ?> },
 <?php if ($ctoUserId != NULL && $ctoEmail == 1) :?>
 { event: "setHashedEmail", email: "<?php echo $ctoUserId; ?>" },
 <?php endif;?>
 { event: "setSiteType", type: (/iPad/.test(navigator.userAgent) ? "t" : (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile/.test(navigator.userAgent) ? "m" : "d"))},
 { event: "viewList",
 item: [
<?php $item_number = 0 ?>
<?php while (isset($ctoProductList[$item_number]) && $item_number < 3) :?>
<?php echo json_encode($ctoProductList[$item_number][$ctoProductIdTypeName]); ?>
<?php $item_number++ ?>
<?php if (isset($ctoProductList[$item_number]) && $item_number < 3) :?>
,
<?php endif;?>
<?php endwhile;?>
]});
</script>

	<?php elseif ($ctoProductActivated && $ctoIsProductPage) :?>
<!-- Criteo OneTag Start (Implemented by Criteo Magento module v1.4) -->
<!-- Product page tag -->
<?php echo $ctoLoader; ?>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
 { event: "setAccount", account: <?php echo $ctoCurrentPartnerId; ?> },
 <?php if ($ctoUserId != NULL && $ctoEmail == 1) :?>
 { event: "setHashedEmail", email: "<?php echo $ctoUserId; ?>" },
 <?php endif;?>
 { event: "setSiteType", type: (/iPad/.test(navigator.userAgent) ? "t" : (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile/.test(navigator.userAgent) ? "m" : "d"))},
 { event: "viewItem", item: <?php echo json_encode($ctoProductIdType); ?>}
);
</script>

	<?php elseif ($ctoBasketActivated && ($ctoIsBasketPage || $ctoIsCheckoutPage)) :?>
		<?php if (count($ctoProductList) > 0) :?>
<!-- Criteo OneTag Start (Implemented by Criteo Magento module v1.4) -->
<!-- Basket page tag -->
<?php echo $ctoLoader; ?>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
 { event: "setAccount", account: <?php echo $ctoCurrentPartnerId; ?> },
 <?php if ($ctoUserId != NULL && $ctoEmail == 1) :?>
 { event: "setHashedEmail", email: "<?php echo $ctoUserId; ?>" },
 <?php endif;?>
 { event: "setSiteType", type: (/iPad/.test(navigator.userAgent) ? "t" : (/Mobile|iP(hone|od)|Android|BlackBerry|IEMobile/.test(navigator.userAgent) ? "m" : "d"))},
 { event: "viewBasket", item: [
 <?php $item_number = 0 ?>
 <?php while (isset($ctoProductList[$item_number])) :?>
 { id: 
<?php echo json_encode($ctoProductList[$item_number]['product'][$ctoProductIdTypeName]); ?>, 
price:
 <?php echo json_encode($ctoProductList[$item_number]['product']['unit_final_price']); ?>, 
quantity:
 <?php echo json_encode($ctoProductList[$item_number]['quantity']); ?>
 }
 <?php $item_number++ ?>
 <?php if (isset($ctoProductList[$item_number])) :?>
 ,
 <?php endif;?>
 <?php endwhile;?>
	 ]});
 </script>
		 <?php endif; ?>
	 <?php endif;?>
<?php }?>
